.dropdown-menu-item {
  color: #868e96;
}

@media only screen and (max-width: 575px) {
  .hide {
    display: none;
  }
}

.crud-actions {
  position: fixed;
  height: 35px;
  width: 100%;
  z-index: 20;
  background-color: #F5F6F8;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.btn-crud-primary {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  color: #818EA3;
}

.btn-crud-primary:hover {
  color: #fff;
  color: #876933;
  border-color: transparent;
}

.row-selected {
  background-color: lightgray;
}

.row-selected .row-options {
  visibility: visible
}

.row-options {
  visibility: hidden;
  color: gray;
  cursor: pointer;
}

.detail-link {
  color: inherit;
}

.detail-link:hover {
  text-decoration: underline;
  cursor: pointer;
}