<!-- Page Header -->
<div class="page-header row no-gutters py-4">
  <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
    <span class="text-uppercase page-subtitle">Members</span>
    <h3 class="page-title">Edit</h3>
  </div>
</div>
<!-- Member Forms -->
<div class="row" *ngIf="member">
  <div class="col-lg-8">
    <div class="card card-small mb-4">
      <div class="card-header">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#general">General</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#employment">Employment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#health">Health</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#debt">Debt</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#address">Address</a>
          </li>
        </ul>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item p-3">
          <div class="row">
            <div class="col">
              <!-- Tabbed Content -->
              <div id="tabMemberContent" class="tab-content">
                <!-- General Tab -->
                <div class="tab-pane fade show active" id="general">
                  <form>
                    <div class="form-group">
                      <label for="cbTitke">Title</label>
                      <select id="cbTitke" class="form-control" name="title" [(ngModel)]="member.title">
                        <option selected>Choose...</option>
                        <option *ngFor="let t of title | enum" [value]="t.key">{{t.value}}</option>
                      </select>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="txtName">Name</label>
                        <input [(ngModel)]="member.fullNames" class="form-control" id="txtName" name="name" placeholder="Name" />
                      </div>
                      <div class="form-group col-md-6">
                        <label for="txtSurname">Surname</label>
                        <input [(ngModel)]="member.surname" class="form-control" id="txtSurname" name="surname"
                          placeholder="Surname" />
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-md-6">
                        <label for="cbGender">Gender</label>
                        <select id="cbGender" class="form-control" name="status" [(ngModel)]="member.gender">
                          <option selected>Choose...</option>
                          <option *ngFor="let g of gender | enum" [value]="g.key">{{g.value}}</option>
                        </select>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="txtDOB">DOB</label>
                        <input type="date" [(ngModel)]="member.dateOfBirth" class="form-control" id="txtDOB" name="dob"
                          placeholder="1991-06-06" />
                      </div>
                    </div>
                    <div class="form-group">
                      <fieldset class="form-group">
                        <label>Is South African Citizen?</label>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" [value]="true" name="citizen" [(ngModel)]="member.isSACitizen">
                            Yes
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" [value]="false" name="citizen" [(ngModel)]="member.isSACitizen">
                            No
                          </label>
                        </div>
                      </fieldset>
                    </div>
                    <div class="form-group" [hidden]="!member.isSACitizen">
                      <label for="txtID">SA ID Number</label>
                      <input [(ngModel)]="member.idNumber" class="form-control" id="txtID" name="id" placeholder="0000000000000" />
                    </div>
                    <div class="form-group" [hidden]="member.isSACitizen">
                      <label for="txtCountry">Country</label>
                      <input [(ngModel)]="member.country" class="form-control" id="txtCountry" name="id" placeholder="0000000000000" />
                    </div>
                    <div class="form-group" [hidden]="member.isSACitizen">
                      <label for="txtpassport">Passport Number</label>
                      <input [(ngModel)]="member.passportNumber" class="form-control" id="txtpassport" name="id"
                        placeholder="0000000000000" />
                    </div>
                  </form>
                </div>
                <!-- Employment Tab -->
                <div class="tab-pane fade" id="employment">
                  <form>
                    <div class="form-group">
                      <fieldset class="form-group">
                        <label>Is Employed?</label>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" [value]="true" name="employed" [(ngModel)]="member.isEmployed">
                            Yes
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" [value]="false" name="employed" [(ngModel)]="member.isEmployed">
                            No
                          </label>
                        </div>
                      </fieldset>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="txtEmployer">Employer</label>
                        <input [(ngModel)]="member.employer" class="form-control" id="txtEmployer" name="employer"
                          placeholder="Employer Name" [attr.disabled]="!member.isEmployed ? '' : null" />
                      </div>
                      <div class="form-group col-md-6">
                        <label for="txtSurname">Employer Contact</label>
                        <input [(ngModel)]="member.employerContactNumber" class="form-control" id="txtSurname" name="employer"
                          placeholder="Employer Contact" [attr.disabled]="!member.isEmployed ? '' : null" />
                      </div>
                    </div>
                  </form>
                </div>
                <!-- Health Tab -->
                <div class="tab-pane fade" id="health">
                  <form>
                    <div class="form-group">
                      <fieldset class="form-group">
                        <label>Has Chronic Illness?</label>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" [value]="true" name="illness" [(ngModel)]="member.hasChronicIllness">
                            Yes
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" [value]="false" name="illness" [(ngModel)]="member.hasChronicIllness">
                            No
                          </label>
                        </div>
                      </fieldset>
                    </div>
                    <div class="form-group">
                      <label for="txtIllnessDetails">Illness Details</label>
                      <textarea [(ngModel)]="member.chronicIllnessDetails" class="form-control" id="txtIllnessDetails"
                        name="illnessDetails" rows="3" [attr.disabled]="!member.hasChronicIllness ? '' : null"></textarea>
                    </div>
                  </form>
                </div>
                <!-- Debt Tab -->
                <div class="tab-pane fade" id="debt">
                  <form>
                    <div class="form-group">
                      <fieldset class="form-group">
                        <label>Is Under Debt Review?</label>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" [value]="true" name="debt" [(ngModel)]="member.isUnderDebtReview">
                            Yes
                          </label>
                        </div>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" [value]="false" name="debt" [(ngModel)]="member.isUnderDebtReview">
                            No
                          </label>
                        </div>
                      </fieldset>
                    </div>
                    <div class="form-group">
                      <label for="txtDebtDetails">Debt Details</label>
                      <textarea [(ngModel)]="member.debtDetails" class="form-control" id="txtDebtDetails" name="debtDetails"
                        rows="3" [attr.disabled]="!member.isUnderDebtReview ? '' : null"></textarea>
                    </div>
                  </form>
                </div>
                <!-- Address Tab -->
                <div class="tab-pane fade" id="address">
                  <div class="btn-group btn-group-toggle mb-3">
                    <label class="btn btn-white" [ngClass]="{'active': at == addressType.Residential}">
                      <input type="radio" class="form-check-input" [value]="addressType.Residential" name="type"
                        [(ngModel)]="at" (change)="getAddress(memberId, at)"> Residential </label>
                    <label class="btn btn-white" [ngClass]="{'active': at == addressType.Postal}">
                      <input type="radio" class="form-check-input" [value]="addressType.Postal" name="type"
                        [(ngModel)]="at" (change)="getAddress(memberId, at)"> Postal </label>
                  </div>
                  <form [hidden]="at != addressType.Residential">
                    <div class="form-group">
                      <label for="txtAddressLine1">Address Line 1</label>
                      <input type="text" class="form-control" id="txtAddressLine1" name="addressLine1" [(ngModel)]="address.addressLine1">
                    </div>
                    <div class="form-group">
                      <label for="txtAddressLine2">Address Line 2</label>
                      <input type="text" class="form-control" id="txtAddressLine2" name="addressLine2" [(ngModel)]="address.addressLine2">
                    </div>
                    <div class="form-group" [hidden]="true">
                      <label for="txtAddressLine3">Address Line 3</label>
                      <input type="text" class="form-control" id="txtAddressLine3" name="addressLine3" [(ngModel)]="address.addressLine3">
                    </div>
                    <div class="form-group">
                      <label for="txtSuburb">Suburb</label>
                      <input type="text" class="form-control" id="txtSuburb" name="suburb" [(ngModel)]="address.suburb">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="txtCity">City</label>
                        <input type="text" class="form-control" id="txtCity" name="city" [(ngModel)]="address.city">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="txtProvince">Province</label>
                        <select id="txtProvince" class="form-control">
                          <option selected>Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="txtZip">Zip</label>
                        <input type="text" class="form-control" id="txtZip" name="zip" [(ngModel)]="address.postalCode">
                      </div>
                    </div>
                  </form>
                  <form [hidden]="at == addressType.Residential">
                    <div class="form-group">
                      <label for="txtAddressLine1">Address Line 1 / P.O. Number</label>
                      <input type="text" class="form-control" id="txtAddressLine1" name="addressLine1" [(ngModel)]="address.addressLine1">
                    </div>
                    <div class="form-group">
                      <label for="txtAddressLine2">Address Line 2</label>
                      <input type="text" class="form-control" id="txtAddressLine2" name="addressLine2" [(ngModel)]="address.addressLine2">
                    </div>
                    <div class="form-group" [hidden]="true">
                      <label for="txtAddressLine3">Address Line 3</label>
                      <input type="text" class="form-control" id="txtAddressLine3" name="addressLine3" [(ngModel)]="address.addressLine3">
                    </div>
                    <div class="form-group">
                      <label for="txtSuburb">Suburb</label>
                      <input type="text" class="form-control" id="txtSuburb" name="suburb" [(ngModel)]="address.suburb">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="txtCity">City</label>
                        <input type="text" class="form-control" id="txtCity" name="city" [(ngModel)]="address.city">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="txtProvince">Province</label>
                        <select id="txtProvince" class="form-control">
                          <option selected>Choose...</option>
                          <option>...</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2">
                        <label for="txtZip">Zip</label>
                        <input type="text" class="form-control" id="txtZip" name="zip" [(ngModel)]="address.postalCode">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-footer text-right">
        <button class="btn btn-accent" (click)="update()">Update Member</button>
      </div>
    </div>
  </div>
</div>